@import "../mainStyles.scss";

.home-page {
    width: 100%;
    min-height: 100vh;

    .slogan {
        width: 100%;
        height: 30vh;
        margin: 20vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba($tirtiary_color, 0.5);

        h2 {
            font-size: 8rem;
            letter-spacing: 4px;
            color: white;
            font-family: "teko";
            text-align: center;
        }
    }

    .container {
        width: 80%;
        margin: auto;
        border: 2px $secondary_color solid;
        border-radius: 10px;

        .legend {
            height: auto;
            background: $primary-color;

            h3 {
                color: $fourth_color;
                text-align: center;
                font-size: 3rem;
                padding: 1rem;
            }
        }


    }

    .divider {
        height: 5px;
        width: 90%;
        background-color: $fourth_color;
        margin: 20px auto;
    }
}