@import "../mainStyles.scss";

.home-page {

    .slogan {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $primary-color;
        font-size: 5rem;
    }
}