@import "../mainStyles.scss";

.home-page {
    width: 100%;
    min-height: 100vh;
    margin: 100px auto;

    .background {
        width: 100%;
        height: 90vh;
        margin-bottom: 50px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }

        .slogan {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(black, 0.6);

            h2 {
                font-size: 13rem;
                letter-spacing: 4px;
                color: white;
                font-family: logoFont;
                text-align: Justify;
                font-weight: lighter;
                margin: 20px;
            }

            h4 {
                font-weight: lighter;
                font-size: 4.5rem;
                letter-spacing: 4px;
                color: white;
                font-family: "teko";
                text-align: justify;
                margin: 20px;

            }
        }
    }

    .container {
        width: 90%;
        margin: auto;
        border: 2px $secondary_color solid;
        border-radius: 10px;

        .legend {
            height: auto;
            background: $primary-color;

            h3 {
                color: $fourth_color;
                text-align: center;
                font-size: 3rem;
                font-family: logoFont;
                font-weight: lighter;
                padding: 1rem;
                letter-spacing: 2px;
            }
        }


    }

    .divider {
        height: 5px;
        width: 90%;
        background-color: $fourth_color;
        margin: 20px auto;
    }
}


@media screen and (max-width :768px) {
    .home-page {
        .background {
            .slogan {
                align-items: center;

                h4 {
                    font-size: 3rem;
                    letter-spacing: 2px;
                    text-align: center;

                }
            }
        }
    }
}

@media screen and (max-width :528px) {
    .home-page {
        .background {
            .slogan {

                h2 {
                    font-size: 9rem;
                }

                h4 {
                    font-size: 2.4rem;
                    letter-spacing: 1px;

                }
            }
        }
    }
}