@import "../mainStyles.scss";

.movie-details {
    // display: none;
    height: 90vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: $tirtiary_color;
    position: relative;
    // border: 3px solid $secondary_color;



    .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        .left-section {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: $primary_color;
            border-right: 3px solid $secondary_color;

            .poster {
                width: 90%;
                height: 70%;

                img {
                    width: 100%;
                    height: auto;
                    margin: auto;
                    object-position: center;
                    object-fit: cover;
                }
            }

            .btns {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 20%;

                button {
                    font-size: 3rem;
                    padding: 0.3rem;
                    margin: 0.4rem;
                    font-family: "teko";
                    background: none;
                    border: 2px solid $secondary_color;
                    color: $fourth_color;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &:hover {
                        background: $secondary_color;
                    }

                }
            }
        }

        .right-section {
            flex: 3;
            position: relative;
            height: 100%;

            .bg-img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;


                img {

                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    object-position: center;
                    filter: blur(4px);
                    opacity: 0.1;
                    pointer-events: none;
                }
            }

            .title {
                color: white;
                height: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 4px solid $secondary_color;
                background: $primary_color;

                h1 {
                    font-size: 3.5rem;
                }
            }

            .tagline {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                margin: auto;
                height: 6vh;

                h2 {
                    font-size: 2.5rem;
                    color: $fourth_color;
                }
            }

            .genres {
                width: auto;
                margin: auto;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    li {
                        list-style: none;
                        font-size: 2rem;
                        background: $secondary_color;
                        color: $fourth_color;
                        border: 1px solid $primary_color;
                        border-radius: 2px;
                        padding: 0.1rem 1rem;
                    }
                }
            }

            .overview {
                display: flex;
                flex-direction: row;
                width: 90%;
                margin: 2rem;
                border: 3px solid $primary_color;

                .left {
                    background: $primary_color;
                    padding: 2rem;
                    font-family: 'Bebas Neue', cursive;
                    letter-spacing: 2px;
                    font-size: 2rem;
                    color: $fourth_color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .right {
                    padding: 2rem;
                    text-align: justify;
                    background: $secondary_color;

                    p {
                        font-size: 2rem;
                        color: white;
                    }
                }
            }

            .cast {
                display: flex;
                flex-direction: row;
                width: 90%;
                margin: 2rem;
                border: 3px solid $primary_color;

                .left {
                    background: $primary_color;
                    padding: 2rem;
                    font-family: 'Bebas Neue', cursive;
                    letter-spacing: 2px;
                    font-size: 2rem;
                    color: $fourth_color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .right {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                    grid-gap: 2rem;
                    width: 90%;
                    padding: 1rem;


                    .profile-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100px;
                        width: 100px;

                        img {
                            border-radius: 50%;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }

        }


    }
}