@import "../mainStyles.scss";

.person-details {
    min-height: calc(100vh - 100px);
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
    background: $tirtiary_color;
    position: relative;


    .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: row;
        z-index: 1;

        .bg-img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;


            img {

                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
                filter: blur(4px);
                opacity: 0.2;
                pointer-events: none;
            }
        }

        .left-section {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: $primary_color;
            border-right: 3px solid $secondary_color;
            z-index: 2;
            min-width: 300px;

            .poster {
                width: 90%;
                height: 70%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    margin: auto;
                    object-position: center;
                    object-fit: cover;
                }
            }

            .btns {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 20%;

                button {
                    font-size: 3rem;
                    padding: 0.3rem;
                    margin: 0.4rem;
                    font-family: "teko";
                    background: none;
                    border: 2px solid $secondary_color;
                    color: $fourth_color;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &.done {
                        background: $secondary_color;
                    }

                    &:hover {
                        background: $secondary_color;
                    }

                }
            }
        }

        .right-section {
            flex: 3;
            position: relative;
            height: 100%;
            overflow: auto;



            .right-details {
                z-index: 2;

                .title {
                    color: white;
                    height: 10vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 4px solid $secondary_color;
                    background: $primary_color;
                    font-family: "teko";
                    letter-spacing: 2px;

                    h1 {
                        font-size: 4rem;
                        text-align: center;
                    }
                }

                .credits,
                .popular {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    margin: 2rem auto;
                    border: 3px solid $primary_color;

                    .top {
                        background: $primary_color;
                        padding: 1rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .items-container {
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                        .item {
                            height: 350px;

                            .img {
                                width: 200px;

                                h2 {
                                    font-size: 3rem;
                                }
                            }
                        }
                    }

                }


            }
        }


    }
}

@media screen and (max-width : 1022px) {
    .person-details {


        .details {




            .right-section {

                .right-details {

                    .credits,
                    .popular {

                        .items-container {
                            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

                            .item {
                                height: 300px;

                                .img {
                                    width: 160px;

                                    h2 {
                                        font-size: 2.5rem;
                                    }
                                }
                            }
                        }

                    }




                }
            }


        }


    }
}

@media screen and (max-width : 768px) {
    .person-details {
        margin-top: 150px;
        overflow: auto;

        .details {
            flex-direction: column;
            height: auto;

            .left-section {
                height: auto;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                border-right: none;
                border-bottom: 4px solid $secondary_color;

                .poster {
                    width: 60%;
                    height: auto;
                    min-width: 350px;

                    img {
                        width: 70%;

                    }
                }

                .btns {
                    width: 60%;
                }
            }

            .right-section {

                .right-details {
                    .title {

                        h1 {
                            font-size: 3rem;
                        }
                    }



                    .credits,
                    .popular {

                        .items-container {
                            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

                            .item {
                                height: 300px;

                                .img {
                                    width: 160px;

                                    h2 {
                                        font-size: 2.5rem;
                                    }
                                }
                            }
                        }

                    }




                }
            }


        }


    }
}