@import "../mainStyles.scss";

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5rem 2rem;
    justify-items: center;
    position: relative;

    // width: 90%;
    // margin: 10% auto;
    .scroll-handler {
        position: absolute;
        top: 97%;
    }
}