@import "../../app.scss";

.cards-section {
    @include fullWidth;
    background: $section-background;
    padding: 2rem 0;
    margin-top: 50px;

    .cards-container {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 3rem;
        justify-items: center;
    }
}