@import "../../app.scss";

.cards-section {

    .cards-container {
        width: 100%;
        margin: 0 auto 100px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2rem 1rem;
        justify-items: center;
    }
}