@import "../../app.scss";

.top-rated{

    .filter-bar {
        width: 320px;
        margin: 30px auto;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            background: #eee;
            width: 100%;
            box-shadow: 0 0 4px #aaa;
            li {
                width: 50%;
                button {
                    width: 100%;
                    padding: 2.5rem 1.5rem;
                    background: none;
                    border: none;
                    outline: none;
                    font-weight: 500;
                    font-size: 1.4rem;
                    text-decoration: none;
                    cursor: pointer;

                }
            }

            li.active {
               button{
                   background-color: lighten($secondary-color, 10);
                   color: #fff;
                   font-weight: 600;
               }


            }
        }
    }
}