@import '../../app.scss';

.person-page {

    .right-section {

        .title {
            background: lighten($secondary-color, 55) !important;
        }

        .bio {
            .headline {
                margin: 2rem 0;
            }

            p {
                text-align: justify;
            }
        }
    }

    .slider{
        overflow-x: hidden;
    }
}