@import "../mainStyles.scss";

.search {

    .search-form {
        width: 50%;
        margin: 3rem auto;

    }

    .container {
        width: 80%;
        margin: auto;
        border: 2px $secondary_color solid;
        border-radius: 10px;
        // margin-bottom: 3rem;

        .items-container {
            // width: 100%;
            min-height: 100vh;
            background: rgba($tirtiary_color, 0.7);
            padding: 1rem;
        }
    }
}