@import "../mainStyles.scss";

.search {

    .search-form {
        width: 50%;
        margin: 10vh auto;

    }

    .container {
        width: 90%;
        margin: 5vh auto;
        border: 2px $secondary_color solid;
        border-radius: 10px;
        // margin-bottom: 3rem;

        .more {
            width: 100%;
            background: $secondary_color;
            font-size: 3rem;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 1rem;


            a {
                color: $fourth_color;
                text-decoration: none;
                width: 100%;
                display: block;
                text-align: center;
            }

        }
    }
}

@media screen and (max-width : 680px) {
    .search {

        .search-form {
            input {
                font-size: 1.6rem;
            }

        }

        .container {


            .more {



                a {}

            }
        }
    }
}