@import "../mainStyles.scss";

header {
    width: 100%;
    height: 15vh;
    position: relative;

    // .bg {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     filter: blur(2px);
    //     // mask-image: -webkit-gradient(linear, left top, left bottom,
    //     //         from(rgba($tirtiary_color, 1)), to(rgba($tirtiary_color, 0)));



    //     img {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //         object-position: center;
    //         // mask-image: -webkit-gradient(linear, left top, left bottom,
    //         //         from(rgba($tirtiary_color, 1)), to(rgba($tirtiary_color, 0)));

    //     }

    //     &::after {
    //         content: "";
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //     }
    // }

    .static-bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;

        &::after {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($tirtiary_color, 0.4)
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }

        // background-color: black;
        // background-image: linear-gradient(45deg, rgb(63, 63, 63) 0%, rgb(17, 17, 17) 100%);
    }

    nav {
        position: fixed;
        width: 100%;
        height: 10vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: $primary-color;
        border-bottom: solid 4px $secondary_color;
        z-index: 3;
        // background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);

        .logo-container {
            a {
                text-decoration: none;
            }

            width: 35%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .logo {
                background-color: $fourth_color;
                border-radius: 8px;
                width: 150px;
                text-align: center;
                height: 55px;
                line-height: 55px;

                h1 {
                    color: black;
                    font-family: logoFont;
                    font-size: 4rem;
                    font-weight: 500;

                    span {
                        color: rgb(77, 77, 77);
                    }
                }

            }

            .logo-slogan {

                p {
                    color: white;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 2.5rem;
                    text-align: center;
                }
            }
        }

        ul {
            width: 50%;
            font-size: 2rem;
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-around;


            li {

                a {
                    font-family: 'Bebas Neue', cursive;
                    color: $fourth_color;
                    // border: 1px solid $primary-color;
                    padding: 0.6rem 1rem;
                    border-radius: 5px;
                    outline: none;
                    text-decoration: none;
                    transition: all 0.3s ease-out;
                    font-size: 2.5rem;
                    display: flex;

                    &:hover {
                        background: $primary-color;
                        color: $secondary-color;
                    }

                    .icon {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    .back-to-top {
        position: fixed;
        right: 5%;
        bottom: 5%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid $primary-color;
        transition: all 0.3s ease-out;

        .icon {
            font-size: 4rem;
            color: $primary-color;
            transition: all 0.3s ease-out;
        }

        &:hover {
            background: $primary-color;

            .icon {
                color: $secondary-color;
            }
        }

    }

    .divider {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: rgb(253, 195, 37);
    }
}