@import "../../app.scss";


.header-container {
    @include fullWidth;
    height: 70px;
    background: #ffffff;
    box-shadow: 0 0 8px;

    header {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo-container {
            width: 100px;

            img {
                width: 100%;
                height: auto;
            }
        }



        .nav-links {

            ul {
                width: 500px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                li {

                    a {
                        padding: 3px;
                        display: flex;
                        align-items: center;
                        color: black;
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: 600;
                        letter-spacing: 1px;

                    }

                    .icon {
                        font-size: 1.5rem;
                    }

                    .active {
                        color: $main-color;
                        font-weight: 700;
                        position: relative;

                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background: $main-color;
                            top: 0;
                            left: 0;
                        }

                        &:after {
                            bottom: 0;
                            top: auto;
                        }
                    }

                }

                .sign-in-btn {
                    background: $main-color;
                    color: white;
                    font-size: 14px;
                    padding: 0.4rem 0.6rem;
                    border-radius: 5px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-left: 20px;
                }
            }
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        z-index: 3;
        opacity: 0;
        pointer-events: none;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: $main-color;
            border-radius: 50%;
            color: white;

            .icon {
                font-size: 2.5rem;
            }
        }
    }

    .show-btn {
        opacity: 1;
        pointer-events: all;
    }
}



// @media screen and (max-width : 1028px) {
//     header {
//         nav {
//             .logo-container {
//                 width: 40%;

//                 .logo-slogan {
//                     p {
//                         font-size: 2rem;
//                         width: 130px;
//                     }
//                 }
//             }

//             ul {
//                 width: 55%;
//                 justify-content: space-evenly;

//                 li {
//                     a {
//                         padding: 0.6rem 1rem;
//                         font-size: 1.8rem;

//                         .icon {
//                             font-size: 1.8rem;
//                         }
//                     }
//                 }
//             }
//         }

//     }
// }

// @media screen and (max-width : 768px) {
//     header {
//         nav {
//             flex-direction: column;
//             height: 150px;
//             justify-content: space-evenly;

//             .logo-container {
//                 width: 85%;
//             }

//             ul {
//                 width: 85%;
//             }
//         }

//     }
// }

// @media screen and (max-width : 475px) {
//     header {
//         nav {

//             .logo-container {
//                 width: 95%;

//                 a {
//                     border: none;
//                 }

//                 .logo {

//                     width: 100px;
//                     height: 40px;
//                     line-height: 40px;
//                     margin: 0 10px;

//                     h1 {
//                         font-size: 2.8rem;
//                         font-weight: 500;

//                     }

//                 }

//                 .logo-slogan {

//                     display: none;

//                 }


//             }

//             ul {
//                 width: 100%;

//                 li {

//                     a {
//                         padding: 0.2rem 0.5rem;
//                         font-size: 1.6rem;

//                         .icon {
//                             font-size: 1.6rem;
//                         }
//                     }
//                 }
//             }

//         }

//     }
// }