@import "../../app.scss";


.header-container {
    @include fullWidth;
    height: 70px;
    background: #ffffff;
    box-shadow: 0 0 8px;

    header {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo-container {
            width: 100px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .menu-btn {
            display: none;
        }



        .nav-links {

            ul {
                width: 500px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                li {

                    a {
                        padding: 3px;
                        display: flex;
                        align-items: center;
                        color: black;
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: 600;
                        letter-spacing: 1px;

                    }

                    .icon {
                        font-size: 1.5rem;
                    }

                    .active {
                        color: $main-color;
                        font-weight: 700;
                        position: relative;

                        &:before,
                        &:after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background: $main-color;
                            top: 0;
                            left: 0;
                        }

                        &:after {
                            bottom: 0;
                            top: auto;
                        }
                    }

                }

                .sign-in-btn {
                    background: $main-color;
                    color: white;
                    font-size: 14px;
                    padding: 0.4rem 0.6rem;
                    border-radius: 5px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-left: 20px;
                }
            }
        }

        .back-to-top {
            position: fixed;
            bottom: 50px;
            right: 50px;
            width: 50px;
            height: 50px;
            z-index: 3;
            opacity: 0;
            pointer-events: none;
            transform: scale(0.5);
            transition: all 0.3s ease-out;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: $main-color;
                border-radius: 50%;
                color: white;

                .icon {
                    font-size: 2.5rem;
                }
            }
        }

    }

    .show-btn {
        .back-to-top {
            opacity: 1;
            pointer-events: all;
            transform: scale(1) rotate(720deg);
        }
    }


}



@media screen and (max-width : 900px) {

    .header-container {
        header {
            .logo-container {
                width: 80px;
            }

            .nav-links {
                ul {
                    width: 370px;

                    li {
                        a {
                            font-size: 0.9rem;
                            letter-spacing: 0;
                        }

                        .icon {
                            font-size: 1rem;
                        }
                    }

                    .sign-in-btn {
                        font-size: 12px;
                        padding: 0.3rem 0.5rem;
                        letter-spacing: 1px;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 600px) {

    .header-container {
        header {

            .menu-btn {
                display: flex;
                align-items: center;

            }

            .nav-links {
                display: none;
            }
        }
    }

    .active-header {

        height: 100vh;

        header {
            margin: auto;
            flex-direction: column;
            width: 80%;
            justify-content: space-evenly;

            .logo-container {
                width: 100px;
            }

            .menu-btn {
                display: flex;
                align-items: center;
                position: absolute;
                right: 10%;
                top: 40px;
            }

            .nav-links {
                z-index: 3;
                width: 100%;
                display: flex;
                justify-content: space-between;

                ul {
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    height: 350px;


                    li {
                        width: 100%;


                        a {
                            font-size: 1.6rem;

                            .icon {
                                font-size: 2rem;
                            }
                        }
                    }

                    .sign-in-btn {
                        font-size: 1.2rem;
                        margin: 0 auto;
                    }
                }
            }
        }

    }
}