@import "../mainStyles.scss";

.person-details {
    // display: none;
    height: 90vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: $tirtiary_color;
    position: relative;
    // border: 3px solid $secondary_color;



    .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        z-index: 1;

        .bg-img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;


            img {

                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
                filter: blur(4px);
                opacity: 0.2;
                pointer-events: none;
            }
        }

        .left-section {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: $primary_color;
            border-right: 3px solid $secondary_color;
            z-index: 2;

            .poster {
                width: 90%;
                height: 70%;

                img {
                    width: 100%;
                    height: auto;
                    margin: auto;
                    object-position: center;
                    object-fit: cover;
                }
            }

            .btns {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 20%;

                button {
                    font-size: 3rem;
                    padding: 0.3rem;
                    margin: 0.4rem;
                    font-family: "teko";
                    background: none;
                    border: 2px solid $secondary_color;
                    color: $fourth_color;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &.done {
                        background: $secondary_color;
                    }

                    &:hover {
                        background: $secondary_color;
                    }

                }
            }
        }

        .right-section {
            flex: 3;
            position: relative;
            height: 100%;
            overflow: auto;



            .right-details {
                z-index: 2;

                .title {
                    color: white;
                    height: 10vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 4px solid $secondary_color;
                    background: $primary_color;

                    h1 {
                        font-size: 3.5rem;
                    }
                }

                .tagline {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    margin: auto;
                    height: 6vh;

                    h2 {
                        font-size: 2.5rem;
                        color: $fourth_color;
                    }
                }

                .genres {
                    width: auto;
                    margin: auto;

                    ul {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        li {
                            list-style: none;
                            font-size: 2rem;
                            background: $secondary_color;
                            color: $fourth_color;
                            border: 1px solid $primary_color;
                            border-radius: 2px;
                            padding: 0.1rem 1rem;
                        }
                    }
                }

                .overview {
                    display: flex;
                    flex-direction: row;
                    width: 90%;
                    margin: 2rem;
                    border: 3px solid $primary_color;

                    .left {
                        background: $primary_color;
                        padding: 2rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .right {
                        padding: 2rem;
                        text-align: justify;
                        background: rgba($secondary_color, 0.5);

                        p {
                            font-size: 2rem;
                            color: white;
                        }
                    }
                }

                .cast {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    // height: 150px;
                    margin: 2rem;
                    border: 3px solid $primary_color;

                    .top {
                        background: $primary_color;
                        padding: 1rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // width: 15%;
                    }

                    .body {
                        display: grid;
                        background: rgba($secondary_color, 0.5);
                        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                        grid-gap: 0.5rem;
                        width: 100%;
                        padding: 1rem;
                        justify-items: center;


                        .profile-container {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: auto;
                            width: 100%;
                            border: 2px solid $fourth_color;

                            img {
                                // border-radius: 50%;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                            }

                            .name {
                                position: absolute;
                                height: auto;
                                width: 100%;
                                background: rgba(black, 0.9);
                                bottom: 0;
                                left: 0;
                                display: flex;
                                align-items: flex-end;
                                justify-content: center;

                                p {
                                    color: white;
                                    font-size: 2rem;
                                    text-align: center;
                                }

                            }
                        }
                    }
                }

                .similar,
                .recommends {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    // height: 150px;
                    margin: 2rem;
                    border: 3px solid $primary_color;

                    .top {
                        background: $primary_color;
                        padding: 1rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .body {
                        display: grid;
                        background: rgba($secondary_color, 0.5);
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                        grid-gap: 1rem;
                        width: 100%;
                        padding: 1rem;
                        justify-items: center;


                        .container {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: auto;
                            width: 100%;
                            border: 2px solid $fourth_color;
                            position: relative;


                            img {
                                // border-radius: 50%;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                            }

                            .pop-up {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: rgba($tirtiary_color, 0.9);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 0;
                                transition: all 0.3s ease-out;

                                p {
                                    color: white;
                                    text-align: center;
                                    font-size: 3rem;
                                    pointer-events: none;
                                    letter-spacing: 1px;
                                }

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                }


            }
        }


    }
}