@import "../mainStyles.scss";

.tv-details {
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    background: $tirtiary_color;
    position: relative;
    margin-top: 100px;



    .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        z-index: 1;
        height: calc(100vh - 100px);

        .bg-img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;


            img {

                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
                filter: blur(4px);
                opacity: 0.2;
                pointer-events: none;
            }
        }

        .left-section {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: $primary_color;
            border-right: 3px solid $secondary_color;
            z-index: 2;
            min-width: 300px;



            .poster {
                width: 90%;
                height: 70%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    margin: auto;
                    object-position: center;
                    object-fit: cover;
                }
            }

            .btns {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 20%;

                button {
                    font-size: 3rem;
                    padding: 0.3rem;
                    margin: 0.4rem;
                    font-family: "teko";
                    background: none;
                    border: 2px solid $secondary_color;
                    color: $fourth_color;
                    outline: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &.done {
                        background: $secondary_color;
                    }

                    &:hover {
                        background: $secondary_color;
                    }


                }

            }
        }

        .right-section {
            flex: 3;
            position: relative;
            height: 100%;
            overflow: auto;
            // margin-top: 15px;


            .right-details {
                z-index: 2;

                .title {
                    color: white;
                    height: 10vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 4px solid $secondary_color;
                    background: $primary_color;

                    h1 {
                        font-size: 3.5rem;
                    }
                }

                .genres {
                    width: auto;
                    margin: auto;

                    ul {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        li {
                            list-style: none;
                            font-size: 2rem;
                            background: $secondary_color;
                            color: $fourth_color;
                            border: 1px solid $primary_color;
                            border-radius: 2px;
                            padding: 0.1rem 1rem;
                        }
                    }
                }

                .overview {
                    display: flex;
                    flex-direction: row;
                    width: 95%;
                    margin: 2rem auto;
                    border: 3px solid $primary_color;

                    .left {
                        background: $primary_color;
                        padding: 2rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .right {
                        padding: 2rem;
                        text-align: justify;
                        background: rgba($secondary_color, 0.5);
                        width: 100%;

                        p {
                            font-size: 2rem;
                            color: white;
                        }
                    }
                }

                .cast {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    margin: 2rem auto;
                    border: 3px solid $primary_color;

                    .top {
                        background: $primary_color;
                        padding: 1rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .items-container {
                        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

                        .item {
                            height: 290px;

                            .img {
                                width: 150px;

                                h2 {
                                    font-size: 3rem;
                                }
                            }
                        }
                    }
                }

                .similar,
                .recommends,
                .seasons {
                    display: flex;
                    flex-direction: column;
                    width: 95%;
                    margin: 2rem auto;
                    border: 3px solid $primary_color;

                    .top {
                        background: $primary_color;
                        padding: 1rem;
                        font-family: 'Bebas Neue', cursive;
                        letter-spacing: 2px;
                        font-size: 2rem;
                        color: $fourth_color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .items-container {
                        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                        .item {
                            height: 380px;

                            .img {
                                width: 200px;

                                h2 {
                                    font-size: 3rem;
                                }
                            }
                        }
                    }

                }

                .seasons {
                    .body {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                        justify-items: center;
                        // align-items: center;
                        grid-gap: 1rem;
                        padding: 1rem;


                        .season {
                            .img {
                                width: 150px;
                                height: auto;
                                position: relative;
                                cursor: pointer;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-position: center;
                                    object-fit: cover;
                                    pointer-events: none;
                                }

                                .popup {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: rgba(black, 0.8);
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    opacity: 0;
                                    transition: all 0.2s ease-out;

                                    &:hover {
                                        opacity: 1;
                                    }


                                    h2 {
                                        font-family: "teko";
                                        color: white;
                                        font-size: 3rem;
                                        letter-spacing: 2px;
                                        text-align: center;
                                    }
                                }
                            }

                        }
                    }
                }


            }
        }


    }

    .modal-container {
        background: rgba(black, 0.9);
        position: fixed;
        margin-top: 100px;
        width: 100vw;
        height: calc(100vh - 100px);
        top: 0;
        left: 0;
        z-index: 3;
        transition: all 0.2s ease-out;

        &.close {
            opacity: 0;
            pointer-events: none;
        }

        .modal {
            background: rgba(black, 0.8);
            width: 70%;
            height: 90%;
            margin: auto;
            margin-top: 2%;
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: row;



            .close-btn {
                position: fixed;
                top: 15%;
                right: 8%;
                cursor: pointer;
                color: white;
                font-size: 4rem;
                font-weight: bolder;

            }

            .modal-details {
                width: 100%;
                height: auto;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: auto;


                .season-title {
                    border-bottom: 3px solid $fourth_color;
                    padding: 1rem;

                    h1 {
                        font-family: "teko";
                        letter-spacing: 3px;
                        color: $fourth_color;
                        font-size: 5rem;
                        text-align: center;
                    }
                }

                .middle {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    // justify-content: center;

                    .img {
                        flex: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                            object-position: center;
                        }
                    }

                    .episodes {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        flex: 4;

                        h1 {
                            color: white;
                            font-family: "teko";
                            letter-spacing: 3px;
                            font-size: 3rem;

                        }

                        ul {
                            list-style: none;
                            color: white;
                            font-size: 2rem;
                            border-top: 2px solid $fourth_color;

                            li {

                                padding: 0.6rem;
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                            }

                        }
                    }
                }

                .season-overview {
                    padding: 2rem;
                    background: rgba(rgb(51, 51, 51), 0.6);

                    p {
                        font-size: 2rem;
                        color: white;
                        text-align: justify;
                    }

                }
            }
        }

    }
}