$main-color : #B33951;
$section-background : #eeeeee;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.headline {
    margin: 150px 0 30px 0;

    h3 {
        position: relative;
        padding: 3px 0;
        display: inline;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $main-color;

        }

        &:after {
            top: auto;
            bottom: 0;
        }
    }
}

.section {
    margin-bottom: 50px;
}

button.load-more {
    @include fullWidth;
    height: 50px;
    cursor: pointer;
    color: white;
    background: $main-color;
    outline: none;
    border: none;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        font-size: 5rem;
        // height: 100%;
    }
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 2rem;
    letter-spacing: 1px;
}