day and night {
    $primary_color: #011A27;
    $secondary_color: #063852;
    $tirtiary_color: #282c2e;
    $fourth_color: #E6DF44;
}

Watery Blue Greens {
    $primary_color: #021C1E;
    $secondary_color: #004445;
    $tirtiary_color: #2C7873;
    $fourth_color: #6FB98F;
}

Sunset to Dusk {
    $primary_color: #363237;
    $secondary_color: #2D4262;
    $thrtiary_color: #73605B;
    $fourth_color: #D09683;
}

Berry Blues {
    $primary_color: #1E1F26;
    $secondary_color: #283655;
    $thrtiary_color: #4D648D;
    $fourth_color: #D0E1F9;
}