@import "../../app.scss";


.slider {
    height: 100%;
    width: 100%;
    @include fullWidth;
    position: relative;

    .arrow-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background: rgb(255, 255, 255);
        opacity: 1;
        cursor: pointer;
        transition: all 0.2s linear;


        &.right-arrow-container {
            right: 0;
            left: auto;
        }

        .icon {
            width: 30px;
            opacity: 0.5;
            transition: all 0.2s linear;

        }

        &:hover {
            .icon {
                opacity: 1;
            }
        }
    }


    .slider-items {
        width: fit-content;
        display: flex;
        flex-direction: row;
        transition: all 1s linear;


        .card-container {
            height: 400px;
            width: 300px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

        }

    }
}

@media screen and ( max-width : 800px ){
    .slider {

        .arrow-container {
            width: 50px;

    
            .icon {
                width: 15px;
    
            }

        }

    }
}
 