@import "../../app.scss";


.slider {
    width: 100%;
    height: 100%;
    background: $section-background;
    overflow: hidden;

    .slider-content {
        position: relative;
        height: 100%;

        .slider-cards-container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.6s ease-out;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .card {
                display: flex;
                align-items: center;
                justify-content: center;

                .inner-card {
                    width: 85%;
                    height: 85%;
                }
            }
        }
    }

    // button {
    //     position: absolute;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     width: 80px;
    //     border: none;
    //     outline: none;
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    // i {
    //     position: relative;

    //     &:before {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         border-radius: 50%;
    //         width: 100%;
    //         height: 100%;
    //         background: rgba(#aaa, 0.5);

    //     }

    // }

    // .icon {
    //     font-size: 3rem;
    //     // color: $main-color;
    // }

    // &.right-slider {
    //     right: 0;
    //     left: auto;
    //     background: rgb(255, 255, 255);
    //     background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    // }

    // &.left-slider {
    //     background: rgb(255, 255, 255);
    //     background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);

    //     i {
    //         transform: rotate(180deg);
    //     }
    // }
    // }




}